.right-bar-container{
 /* border: 2px solid green;  */
 width: 25%;
}

.profile-info{
 display: flex;
 /* border:2px solid red; */
 align-items: center;
 justify-content: space-between;
}

.personal-profile{
 display: flex;
 gap:5px;
}

.suggested-for-you-right-bar{
 display: flex;
 justify-content: space-between;
 
}

.references li{
 display: inline-block;
 list-style-type: circle;
 font-size: small;
}

.follow-switch{
 color: rgb(40, 40, 234);
}

.profile-image img{
 width:44px;
 height:44px;
 border-radius: 50%;
}