.story-container{
 border: 2px solid yellow; 

 display:flex; 
align-items: center;
justify-content: center;
}

.story-items-container{
 display: flex;
 border: 2px solid green;
 margin-top: 20px;
 margin-left: -100px;
 width:70%;
 justify-content: space-evenly;
 align-items: center;
}

.story-profile-img{
 width: 56px;
 height: 56px;
 padding: 1px;
 border-image: linear-gradient(right, hsla(46, 95%, 56%, 1) 17%, hsla(350, 97%, 65%, 1) 81%);
 border-width: 4px;
 border-style:solid;
 border-radius: 40px; 
 padding: 1px;
}

.story-items{
 display: flex;
 flex-direction: column;
}