.main-container{
display: flex;
/* border: 2px solid red; */
justify-content: space-between;
margin:0;
height: 100vh;
width:100vw;
overflow: hidden;
box-sizing: border-box;
}

.main-mobile-container{
 display: flex;
 /* border: 2px solid red; */
 justify-content: space-between;
 margin:0;
 height: 100vh;
 width:100vw;
 
 flex-direction: column;
 box-sizing: border-box;
 }

.mid-container{
 /* border: 2px solid green; */
 display: flex;
 width: 100%;
 flex-direction: column;
}

.movable-container{
 display: flex;
 width:100%;
 /* border: 2px solid green; */
 overflow-y:scroll ;
 overflow-x: hidden;
}

.post-activity-info{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.post-actions{
 display: flex;
 gap:15px;
}